<!DOCTYPE HTML>
<html>
    <head>
        <title><%= title %></title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    </head>
    
    <body>
        <h1><%= title %></h1>

        <h2>Chat: <%= chatroom %></h2>
        <% if(user) { %>
        <p>Hei, <%= user %>!</p>
        <% } %>
        <div id="chat">
            
        </div>
        
        <input type="text" id="message" aria-label="Kirjoita viesti">
        <button id="send">Lähetä</button>
        
        <h3>Keskusteluhuoneet</h3>
        <a href="/yleinen">Yleinen</a>
        <a href="/politiikka">Politiikka</a>

        <script src="/javascripts/kayttajalista.js"></script>
        
    </body>
    
</html>

    