<!DOCTYPE HTML>
<html>
    <head>
        <title><%= title %></title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    </head>
    
    <body>
        <h1><%= title %></h1>
        <p>Tervetuloa <%= title %>in!</p>

        <form method="post" action="/login">
            <p>Valitse nimimerkki</p>
            <input type="text" name="nick">
            <input type="submit" value="Liity keskusteluun">
        </form>

        

        <h2>Chat</h2>
        <div id="chat">
            
        </div>
        
        <input type="text" id="message" aria-label="Kirjoita viesti">
        <button id="send">Lähetä</button>
        

        <script src="/javascripts/kayttajalista.js"></script>
        
    </body>
    
</html>

    