<!DOCTYPE HTML>
<html>
    <head>
        <title><%= title %></title>
        <script>
        window.jubailuboxi = {
            userId: "<%= user.id %>",
            userNick: "<%= user.nick %>",
            history: <%- JSON.stringify(messagehistory) %>
        };
        </script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    
    <body>
        <h1 class="header"><%= title %></h1>
        

        <div class="content">
        <% if (!user.nick) { %>
            <p>Ennen kuin pääset keskustelemaan, valitse itsellesi nimimerkki.</p>
            <form action="/login" method="post">
                <label for="nick">Nimimerkki: </label>
                <input type="text" id="nick" name="nick">
                <input type="submit" value="Liity keskusteluun">
            </form>
        <% } else { %>

            <h2>Chat: <%= chatroom %></h2>
            <% if(user) { %> 
                <p>Hei, <%= user.nick %>!</p> 
            <% } %> 
            <div id="chat">
            
            </div>
        
            <table role="presentation">
                <tr><td><input type="text" id="message" aria-label="Kirjoita viesti"><td>
                    <td><input type="submit" id="send" value="Lähetä" /></td></tr>
            </table>
        </div>
        
        <div class="menu">
            <h3>Keskusteluhuoneet</h3>
            <ul>
                <li><a href="/chat/yleinen">Yleinen</a></li>
                <li><a href="/chat/politiikka">Politiikka</a></li>
            </ul>
        </div>
        
        
        <% } %>

        <script src="/javascripts/kayttajalista.js"></script>
        
    </body>
    
</html>

